.mainDivHeader{
    position: fixed;
    top: 0px;
    background-color: #1DA1F2;
    width: 100%;
   

    h2{
        color: #fff;
        margin: 0;
        padding: 1%;
        @media screen and (max-width:768px) {
            padding: 2%;

        }
    }

}